body{
    margin:  0%;
}
.sidebar{
    margin: 11%;
    border-left: 3px solid;
    border-image: linear-gradient( purple, red);
    border-image-slice: 1;
    background-color: lightgray;
}
#mission-color{
    color: orangered;
}
.width{
    padding-left: 5px;
    font-size: 30px;
}