h1{
    font-size: 45px;
}
.name-color{
    color: orange;
}
.width{
    width: 50%;
    margin: 9%;
    
}
.width img{
    width: 80%
}
.linked-button{
    text-decoration: none;
    background-image: linear-gradient(#e86646, red );
    padding: 5px 30px;
    border-radius: 15px;
    color: white;
    font-wesight: 700;
}
.flex-container{
    display: flex;
}
.mission-level{
    text-align: center;
}